@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image:url(./images/background---.jpg);
    background-size: auto;
}

@media (min-width: 736px) {
    body {
      background-size: cover;
    }
  }

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 12px #00000061;
    background: #ffffff6b;
    border-radius: 15px;
    overflow: hidden;
    backdrop-filter: blur(4px);
    padding: 18px;
    width: 95%;
    max-width: 350px;
    margin: 1px auto;
}

#search {
    display: flex;
    align-items: center;
    gap: 8px;
    box-shadow: 0px 0px 4px;
    padding: 4px 12px;
    border-radius: 10px;
}

#search input {
    border: none;
    background-color: transparent;
    font-size: 16px;
    width: 100%;

}

#search input::placeholder {
    color: #3f3e3e; 
    opacity: 1; 
}

#search input:focus-visible {
    outline: none;
}

#search button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#weather {
    display: none;
    margin-top: 20px;
}

#weather.show {
    display: block;
}

#weather #title {
    text-align: center;
    margin-bottom: 5px;
    font-weight: 600;
    color: #0c0c0c;
}

#temp {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 5px;
    /* background-color: rgba(4, 7, 2, 0.173); */
    box-shadow: 0px 0px 4px #181818;
    border-radius: 20px;
    /* color: #FFFFFF; */
    padding: 20px;
    margin-top: 15px;
}

#temp img {
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.4))
}

#temp_value {
    font-weight:500;
    font-size: 30px;
    line-height: 55px;
    white-space: nowrap;
}

#temp_description {
    font-weight: 500;
    text-transform: capitalize;
}

#other_infos {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
    color: #181818;
}

#other_infos .info {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 4px 10px;
    border-radius: 8px;
    box-shadow: 0px 0px 2px;
    gap: 10px;
}

#other_infos .info h2 {
    font-size: 12px;
    font-weight: 600;
}

#other_infos .info i {
    font-size: 20px;
    width: 20%;
    text-align: center;
}

#temp_max_icon {
    color: rgb(55, 20, 20);
}

#temp_min_icon {
    color: rgb(14, 14, 79);
}

#humidity_icon {
    color: rgb(3, 3, 45);
}

#wind_icon {
    color: rgb(49, 45, 45);
}

#search input {
  background-color: transparent;
  color: #040404; 
  caret-color: #161515; 
}

#search input:-webkit-autofill {
  box-shadow: 0 0 0px 1000px transparent inset !important;
  -webkit-text-fill-color: #080808 !important;
  transition: background-color 9999s ease-in-out 0s;
}

#search input:-webkit-autofill:focus {
  box-shadow: 0 0 0px 1000px transparent inset !important;
}


